# Terraform
*.tfstate
*.tfstate.*
.terraform/
*.tfvars

# Go
*.exe
*.test
*.out
vendor/

# Docker
*.tar

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Secrets
credentials.json
*.pem
pass.txt
