[defaults]
inventory = ./hosts.yml
host_key_checking = True
interpreter_python = auto_silent
retry_files_enabled = False
timeout = 30

[ssh_connection]
ssh_args = -F /home/vgorshkov/.ssh/config -o ControlMaster=auto -o ControlPersist=60s
pipelining = True
